<h1><%= @title %></h1>

<div>
  <form name="input" action="/login" method="post">
    Username: <input type="text" name="user">
    Password: <input type="password" name="password">
    <input type="submit" value="Login">
  </form>
</div>
</br></br>
<a href="/signup">Sign Up</a>
