<h1><%= @title %></h1>

<div>
  <form name="input" action="/signup" method="post">
    Username: <input type="text" name="user">
    Password: <input type="password" name="password">
    <input type="submit" value="Sign Up">
  </form>
</div>
